@import-normalize;

@layer base {
   :root {
      /* palette */
      --color-accent1: #282a37;
      --color-accent2: #323645;
      --color-accent3: #87a0b6;
      --color-accent4: #168aad;
      --color-accent5: #e9ecef;
      --color-accent6: #f8f9fa;
      --color-accent7: #e63946;

      /* text */
      --color-text-base: var(--color-accent6);
      --color-text-inverted: var(--color-accent1);
      --color-text-muted: #d3dce696;
      --color-text-danger: var(--color-accent7);
      --color-text-accent: var(--color-accent5);
      --color-text-highlight: var(--color-accent4);

      /* background */
      --color-fill: var(--color-accent1);
      --color-fill-transparent: #282a374a;
      --color-fill-inverted: var(--color-accent6);
      --color-fill-accent: var(--color-accent2);
      --color-fill-accent-transparent: #3236454a;
      --color-fill-danger: var(--color-accent7);

      /* buttons */
      --color-button-accent: var(--color-accent4);
      --color-button-accent-hover: var(--color-accent4);

      /* Scrollbar */
      --color-scrollbar-track: var(--color-accent1);
      --color-scrollbar-track-hover: var(--color-accent5);
      --color-scrollbar-thumb: var(--color-accent3);

      /* breakpoints */
      --breakpoint-large-screen: 1250;
   }
}

* {
   box-sizing: border-box;
   font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode',
      'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
   background: var(--color-fill);
   color: var(--color-text-base);
   font-size: 16px;
}

button {
   font-weight: 500;
   font-size: 1.05rem;
}

body {
   margin: 0;
}

/* Custom scroll bar */
::-webkit-scrollbar {
   width: 12px;
   height: 12px;
}
::-webkit-scrollbar-track {
   background: var(--color-scrollbar-track);
}
::-webkit-scrollbar-track:hover {
   background: var(--color-scrollbar-track-hover);
}
::-webkit-scrollbar-thumb {
   background: var(--color-scrollbar-thumb);
   border: 2px solid rgba(0, 0, 0, 0);
   background-clip: padding-box;
   border-radius: 8px;
   opacity: 0.7;
}
::-webkit-scrollbar-thumb:hover {
   opacity: 1;
}
