@import-normalize;

@layer base {
   :root {
      /* palette */
      --color-accent1: #282a37;
      --color-accent2: #323645;
      --color-accent3: #6c757d;
      --color-accent4: #247bc7;
      --color-accent5: #e9ecef;
      --color-accent6: #f8f9fa;
      --color-accent7: #e63946;

      /* text */
      --color-text-base: #f8f9fa;
      --color-text-inverted: #282a37;
      --color-text-muted: #d3dce696;
      --color-text-danger: #f8f9fa;
      --color-text-accent: #e9ecef;
      --color-text-highlight: #247bc7;

      /* background */
      --color-fill: #282a37;
      --color-fill-inverted: #f8f9fa;
      --color-fill-accent: #323645;
      --color-fill-danger: #e63946;

      /* buttons */
      --color-button-accent: #247bc7;
      --color-button-accent-hover: #247bc7;
   }

   .theme-1 {
      /* palette */
      --color-accent1: #05668d;
      --color-accent2: #028090;
      --color-accent3: #00a896;
      --color-accent4: #02c39a;
      --color-accent5: #f0f3bd;
      --color-accent6: #ff8360;
      --color-accent7: #e63946;

      /* text */
      --color-text-base: #f0f3bd;
      --color-text-inverted: #05668d;
      --color-text-muted: #d3dce696;
      --color-text-danger: #f8f9fa;
      --color-text-accent: #f0f3bd;
      --color-text-highlight: #ff8360;

      /* background */
      --color-fill: #05668d;
      --color-fill-inverted: #f0f3bd;
      --color-fill-accent: #028090;
      --color-fill-danger: #e63946;

      /* buttons */
      --color-button-accent: #ff8360;
      --color-button-accent-hover: #ff8360;
   }
}

body {
   background: var(--color-fill);
}
